@charset "utf-8";

/* CSS Document */
.detail-page{display:inline-block; width:100%;}
.order-form-section{background-image:url(../img/order-bg-img.jpg); background-repeat:no-repeat; background-attachment:fixed; width:100%; min-height:200px;}
#success_message{ display: none;}
.form-name{color:#fff; text-transform:capitalize; font-size:24px;}
.order-form-section .well{    background-color: rgba(107, 66, 47, 0.11);margin:103px}
input[type=file]{background: rgba(255, 255, 255, 0.5);}

